force-app/main/default/flows/Project_Folder_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_Lists_Folder</name>
        <label>Approval Lists Folder</label>
        <locationX>242</locationX>
        <locationY>924</locationY>
        <actionName>box__CreateFolder_v2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Templates_Folder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderName</name>
            <value>
                <stringValue>Approval Lists</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentFolderId</name>
            <value>
                <elementReference>TemplateFolderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__CreateFolder_v2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Folder</name>
        <label>Create Folder</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <actionName>box__CreateFolderForRecordIdFromTemplate_v2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Research_Folder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderNameOverride</name>
            <value>
                <elementReference>$Record.TAG_Project_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>optCreateRootFolder</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateFolderId</name>
            <value>
                <elementReference>TemplateFolderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__CreateFolderForRecordIdFromTemplate_v2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mailings_Folder</name>
        <label>Mailings Folder</label>
        <locationX>242</locationX>
        <locationY>708</locationY>
        <actionName>box__CreateFolder_v2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Project_Resources_Folder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderName</name>
            <value>
                <stringValue>Mailings</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentFolderId</name>
            <value>
                <elementReference>TemplateFolderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__CreateFolder_v2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Project_Resources_Folder</name>
        <label>Project Resources</label>
        <locationX>242</locationX>
        <locationY>816</locationY>
        <actionName>box__CreateFolder_v2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Approval_Lists_Folder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderName</name>
            <value>
                <stringValue>Project Resources</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentFolderId</name>
            <value>
                <elementReference>TemplateFolderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__CreateFolder_v2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Research_Folder</name>
        <label>Research Folder</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <actionName>box__CreateFolder_v2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mailings_Folder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderName</name>
            <value>
                <stringValue>Research</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentFolderId</name>
            <value>
                <elementReference>TemplateFolderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__CreateFolder_v2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Templates_Folder</name>
        <label>Templates Folder</label>
        <locationX>242</locationX>
        <locationY>1032</locationY>
        <actionName>box__CreateFolder_v2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Calls_Folder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderName</name>
            <value>
                <stringValue>Templates</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentFolderId</name>
            <value>
                <elementReference>TemplateFolderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__CreateFolder_v2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Calls_Folder</name>
        <label>Update Calls Folder</label>
        <locationX>242</locationX>
        <locationY>1140</locationY>
        <actionName>box__CreateFolder_v2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderName</name>
            <value>
                <stringValue>Update Calls</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentFolderId</name>
            <value>
                <elementReference>TemplateFolderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__CreateFolder_v2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Provide the box template folder value that needs to created when an account record is created.</description>
        <name>Set_Template_Folder_Value</name>
        <label>Set Template Folder Value</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>TemplateFolderId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Is_Template_Folder_Id_Assignment_Done</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TEMPLATE_FOLDER_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AccountTemplate</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Template_Folder_Id_Assignment_Done</name>
        <label>Is Template Folder Id Assignment Done</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Template_Folder_Assignment_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateFolderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Folder</targetReference>
            </connector>
            <label>Template Folder Assignment Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Project Folder Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Folder Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <sourceTemplate>box__Account_Folder_Template</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>TAG_Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Set_Template_Folder_Value</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TemplateFolderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
