force-app/main/default/flows/TAG_Account_After_Save_Set_Primary_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the Contact Record Count Variable with the number of contact records returned.</description>
        <name>Set_Contact_Record_Count_Variable</name>
        <label>Set Contact Record Count Variable</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>varContactRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Contact_Record_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contact_Record_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Sends the flow down different paths based on the number of contact records returned related to this account.</description>
        <name>Check_Contact_Record_Count</name>
        <label>Check Contact Record Count</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Count_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_ID</targetReference>
            </connector>
            <label>Record Count 1</label>
        </rules>
    </decisions>
    <description>Sets the Primary Contact field if Account has a single contact.</description>
    <environments>Default</environments>
    <interviewLabel>Account - After Save - Set Primary Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - After Save - Set Primary Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Queries the Contact object for the contact related to this account record.</description>
        <name>Get_Contact_ID</name>
        <label>Get Contact ID</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Queries the Contact object for the number of records related to this account record.</description>
        <name>Get_Related_Contact_Record_Count</name>
        <label>Get Related Contact Record Count</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contact_Record_Count_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Account.Primary Contact field with the single contact record returned.</description>
        <name>Set_Primary_Contact</name>
        <label>Set Primary Contact</label>
        <locationX>176</locationX>
        <locationY>708</locationY>
        <faultConnector>
            <targetReference>CRMF_Subflow_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>TAG_Primary_Contact__c</field>
            <value>
                <elementReference>Get_Contact_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>{!$Setup.CRMF_Automation_Settings__c.CRMF_FlowsEnabled__c} = TRUE</filterFormula>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_Minute_After</name>
            <connector>
                <targetReference>Get_Related_Contact_Record_Count</targetReference>
            </connector>
            <label>1 Minute After</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Use values from the parent flow to set the inputs for the &quot;Subflow: Error&quot; flow. By default, the parent flow stores all outputs. You can either reference outputs via the API name of the Subflow element or manually assign variables in the parent flow to store individual outputs from the &quot;Subflow: Error&quot; flow.</description>
        <name>CRMF_Subflow_Error</name>
        <label>Subflow: Error</label>
        <locationX>440</locationX>
        <locationY>816</locationY>
        <flowName>CRMF_Subflow_Error</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Variable to store the number of contact records returned.</description>
        <name>varContactRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
