force-app/main/default/flows/TAG_Opportunity_Before_Save_Set_Close_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Sends the flow down different paths based on the record type.</description>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Target_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Target_Company_Record_Type_ID.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Close_Date</targetReference>
            </connector>
            <label>Target Company</label>
        </rules>
    </decisions>
    <description>Sets the Close Date to 1 year from the date the opportunity was created.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula that calculates the date 365 days from today.</description>
        <name>forToday365</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <interviewLabel>Opportunity - Before Save - Set Close Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Before Save - Set Close Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Queries the Record Type object for the Target Company record type ID.</description>
        <name>Get_Target_Company_Record_Type_ID</name>
        <label>Get Target Company Record Type ID</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAG_Target_Company</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the close date to 1 year from today.</description>
        <name>Update_Close_Date</name>
        <label>Update Close Date</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>forToday365</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Target_Company_Record_Type_ID</targetReference>
        </connector>
        <filterFormula>{!$Setup.CRMF_Automation_Settings__c.CRMF_FlowsEnabled__c} = TRUE</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>200</triggerOrder>
</Flow>
