force-app/flows/Opportunity_Folder_Under_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Opportunity_Folder</name>
        <label>Get Opportunity Folder</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <actionName>box__CreateFolderForRecordId_v2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Move_Opportunity_Folder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderNameOverride</name>
            <value>
                <elementReference>Get_Account_Name.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>optCreateRootFolder</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__CreateFolderForRecordId_v2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Project_Folder</name>
        <label>Get Project Folder</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>box__CreateFolderForRecordId_v2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderNameOverride</name>
            <value>
                <elementReference>Get_Project_Name.TAG_Project_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>optCreateRootFolder</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.TAG_Project_ID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__CreateFolderForRecordId_v2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Move_Opportunity_Folder</name>
        <label>Move Opportunity Folder</label>
        <locationX>308</locationX>
        <locationY>708</locationY>
        <actionName>box__MoveFolder_v2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderId</name>
            <value>
                <elementReference>Get_Opportunity_Folder.folderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newParentFolderId</name>
            <value>
                <elementReference>Get_Project_Folder.folderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__MoveFolder_v2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Opportunity Folder Under Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Folder Under Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Account Name</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Folder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Name</name>
        <label>Get Project Name</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Folder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TAG_Project_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TAG_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>box__Opportunity_Folder_Under_Account</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_Project_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Introduction</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Project_Name</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
