force-app/flows/TAG_Approval_List_Before_Save_Set_Date_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Approval List Returned date to today&apos;s date</description>
        <name>Assign_Approval_List_Returned_date_Today</name>
        <label>Assign Approval List Returned date Today</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.TAG_Approval_List_Returned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign Approval List Sent date to today&apos;s date</description>
        <name>Assign_Approval_List_Sent_date_Today</name>
        <label>Assign  Approval List Sent date Today</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.TAG_Approval_List_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check if the status field is changing</description>
        <name>Check_Status_Vaue</name>
        <label>Check Status Value</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approval_List_Sent_date_Today</targetReference>
            </connector>
            <label>Client Review</label>
        </rules>
        <rules>
            <name>Returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approval_List_Returned_date_Today</targetReference>
            </connector>
            <label>Returned</label>
        </rules>
    </decisions>
    <description>Whenever the Status field changes to &apos;Client Review&apos;, set the Approval List Sent Date to today&apos;s date.
If the Status changes to &apos;Returned&apos;, set the Approval List Returned Date to today&apos;s date</description>
    <environments>Default</environments>
    <interviewLabel>Approval List - Before Save - Set Date Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval List - Before Save - Set Date Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status_Vaue</targetReference>
        </connector>
        <filterFormula>AND(
{!$Setup.CRMF_Automation_Settings__c.CRMF_FlowsEnabled__c} = TRUE,
ISCHANGED({!$Record.TAG_Status__c})
)</filterFormula>
        <object>TAG_Approval_List__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
