force-app/flows/TAG_Work_Item_After_Save_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends the new work item email alert.</description>
        <name>Send_New_Work_Item_Email_Alert</name>
        <label>Send New Work Item Email Alert</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>sf_devops__Work_Item__c.TAG_New_Work_Item</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>CRMF_Subflow_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sf_devops__Work_Item__c.TAG_New_Work_Item</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Automation that happens after a work item is created.</description>
    <environments>Default</environments>
    <interviewLabel>Work Item - After Save - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Item - After Save - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Defaults the Requested By to the person that created the record if it&apos;s null when the record is created.</description>
        <name>Set_Requested_By</name>
        <label>Set Requested By</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Send_New_Work_Item_Email_Alert</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CRMF_Subflow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_Requested_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TAG_Requested_By__c</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Requested_By</targetReference>
        </connector>
        <filterFormula>{!$Setup.CRMF_Automation_Settings__c.CRMF_FlowsEnabled__c} = TRUE</filterFormula>
        <object>sf_devops__Work_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Use values from the parent flow to set the inputs for the &quot;Subflow: Error&quot; flow. By default, the parent flow stores all outputs. You can either reference outputs via the API name of the Subflow element or manually assign variables in the parent flow to store individual outputs from the &quot;Subflow: Error&quot; flow.</description>
        <name>CRMF_Subflow_Error</name>
        <label>Subflow: Error</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <flowName>CRMF_Subflow_Error</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
