force-app/flows/TAG_Contact_Before_Save_Set_Other_Phone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This flow is a workaround to stamp the custom Lead.TAG_Other_Phone__c data into the standard Contact.OtherPhone field as the OOTB lead mapping doesn&apos;t have this option.</description>
    <environments>Default</environments>
    <interviewLabel>Contact - Before Save - Set Other Phone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Before Save - Set Other Phone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Queries the Lead object for the record this contact record was created from and grabs the value of the Other Phone field data.</description>
        <name>Get_Lead_Other_Phone</name>
        <label>Get Lead Other Phone</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contact_Other_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TAG_Lead_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TAG_Other_Phone__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Sets the Contact.Other Phone field to the value of the same field on the lead this record was converted from.</description>
        <name>Set_Contact_Other_Phone</name>
        <label>Set Contact Other Phone</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>Get_Lead_Other_Phone.TAG_Other_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Other_Phone</targetReference>
        </connector>
        <filterFormula>AND(
{!$Setup.CRMF_Automation_Settings__c.CRMF_FlowsEnabled__c} = TRUE,
NOT ISBLANK({!$Record.TAG_Lead_ID__c})
)</filterFormula>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
